nav {
  background: #eee;
  border-bottom: 1px solid #ddd;
}

nav a {
  display: inline-block;
  padding: 1rem;
  border-right: 1px solid #ddd;
  text-decoration: none;
  color: #333;
}

nav a.active {
  text-shadow: 1px 0px 0px black;
  text-decoration: underline;
}

nav a:hover {
  background: #ddd !important;
}


.large::before, .large::after {
  font-size: 2.5rem;
}

.medium::before, .medium::after {
  font-size: 1.3rem;
}

.form-group {
  margin-bottom: 0.5rem;
}
.form-group label {
  display: block;
  font-weight: bold;
}

.SideBar {
  flex: 0 0 auto;
  width: 20%;
  min-width: 150px;
  background: #eee;
  border-right: 1px solid #ccc;
}

.SideBar li {
  border-bottom: 1px solid #ddd;
}
.SideBar a {
  display: block;
  padding: 1rem;
  text-decoration: none;
  color: #333;
}

.SideBar a.active {
  background: #eef;
}

.SideBar a:hover {
  background: #ddd !important;
}

.Main {
  flex: 1 1 auto;
  padding: 1rem;
}

.row {
  display: flex;
  align-items: center;
  justify-content: center;
}

.col {
  display: block;
}

.buttons button {
  margin-right: 1rem;
  margin-top: 1rem;
}

.tiles {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: -5px;
}

.tile {
  width: 150px;
  height: 150px;

  padding: 1rem; 
  background: #eef;
  border: 1px solid #ccc;
  margin: 5px;

  color: #333;

  flex: 0 0 1;
  display: flex;
  align-items: center;
  justify-content: center;

  text-decoration: none;
}
.tile .container {
  flex: 1 0 auto;
  text-align: center;
  vertical-align: middle;
}

.tile .art {
  margin-bottom: 0.5rem;
}

table {
  border-collapse: collapse;
}
td {
  padding: 0px;
  margin: 0px;
}

.deckListContainer {
  margin-top: 1rem;
}
.deckListContainer .view button {
  background: transparent;
  border: 0;
  border-top-left-radius: 0.3rem;
  border-top-right-radius: 0.3rem;
  padding: 0.5rem 1rem;
}

.deckListContainer .view button.active {
  background: #ccd;
  border: 1px solid #eee;
  border-bottom: 0;
}

.deckListContainer .list {
  background-color: #eef;
}

.deckListContainer pre {
  margin: 0;
  padding: 1rem;
}

.deckListContainer table {
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
}

.deckListContainer thead tr {
  text-transform: uppercase;
  font-size: 90%;
  font-weight: bold;
  background-color: #ccd;
  text-align: left;
}

.deckListContainer tbody tr {
  border-bottom: 1px solid #eee;
}

.deckListContainer td, .deckListContainer th {
  padding: 0.5rem;
  font-size: 75%;
}

.ms {
  font-size: 1rem;
  text-align: center;
}
